section
  display-flex(1)
  vendor(order, 2)
  z-index: 2
  overflow: auto
  // overflow-y: scroll
  -webkit-overflow-scrolling: touch

  &[data-state="pull-in"], &[data-state="pull-out"]
    vendor(transition, all 300ms ease)
    &[data-state="pull-in"]
      vendor(transform, translateY(70px))
    &[data-state="pull-out"]
      vendor(transform, translateY(0))

  &:not(.active)
    display: none

  article > &
    background-color: SECTION_BACKGROUND_COLOR
    color: SECTION_FONT_COLOR
    padding: SECTION_PADDING

  aside > &
    background-color: ASIDE_SECTION_BACKGROUND_COLOR
    color: ASIDE_SECTION_FONT_COLOR
    padding: ASIDE_SECTION_PADDING

  aside > &
    background-color: ASIDE_SECTION_BACKGROUND_COLOR
    color: ASIDE_SECTION_FONT_COLOR
    padding: ASIDE_SECTION_PADDING

.pullrefresh
  visibility: hidden
  background-color: DARK
  color: LIGHT
  position: absolute
  top: HEADER_HEIGHT
  left: 0
  width: 100%
  height: 200px
  z-index: -99999

  &.visible
    visibility: visible
    z-index: 1

  & .icon
    font-size: 2em
    font-weight: 300
