DEFAULT_DEGREES = 75deg
OUT_OPACITY = 0.6

article

  transform-origin: 100% 100%
  vendor(backface-visibility, hidden)
  vendor(animation-duration, ROUTER_ANIMATION_DURATION)
  vendor(animation-timing-function, ROUTER_ANIMATION)
  vendor(transform, translate3d(0,0,0))

  &.active

    &[data-start-animation="start_fade"]
      vendor(animation-name, start_fade)

    &[data-start-animation="start_loop"]
      vendor(animation-name, start_loop)

    // Animation SLIDE
    &[data-animation="slide"]
      &[data-direction="in"]
        vendor(animation-name, slide_in)
      &[data-direction="out"]
        vendor(animation-name, slide_out)
      &[data-direction="back-in"]
        vendor(animation-name, slide_back_in)
      &[data-direction="back-out"]
        vendor(animation-name, slide_back_out)

    // Animation COVER
    &[data-animation="cover"]
      &[data-direction="in"]
        vendor(animation-name, cover_in)
      &[data-direction="out"]
        vendor(animation-name, cover_out)
      &[data-direction="back-in"]
        vendor(animation-name, cover_back_in)
      &[data-direction="back-out"]
        vendor(animation-name, cover_back_out)

    // Animation ROOM
    &[data-animation="room"]
      &[data-direction="in"]
        vendor(animation-name, room_in)
        vendor(transform-origin, 0 50%)
      &[data-direction="out"]
        vendor(animation-name, room_out)
        vendor(transform-origin, 100% 50%)
      &[data-direction="back-in"]
        vendor(animation-name, room_back_in)
        vendor(transform-origin, 100% 50%)
      &[data-direction="back-out"]
        vendor(animation-name, room_back_out)
        vendor(transform-origin, 0 50%)

    // Animation CUBE
    &[data-animation="cube"]
      &[data-direction="in"]
        vendor(animation-name, cube_in)
        vendor(transform-origin, 0 50%)
      &[data-direction="out"]
        vendor(animation-name, cube_out)
        vendor(transform-origin, 100% 50%)
      &[data-direction="back-in"]
        vendor(animation-name, cube_back_in)
        vendor(transform-origin, 100% 50%)
      &[data-direction="back-out"]
        vendor(animation-name, cube_back_out)
        vendor(transform-origin, 0 50%)


// Keyframes SLIDE
@keyframes slide_in
  0%
    vendor(transform, translateX(100%))
  100%
    vendor(transform, translateX(0))

@keyframes slide_out
  0%
    opacity: 1
    vendor(transform, translateX(0))
  15%
    opacity: 1
  100%
    opacity: OUT_OPACITY
    vendor(transform, translateX(0) translateZ(-100px))

@keyframes slide_back_in
  0%
    opacity: OUT_OPACITY
    vendor(transform, translateX(0) translateZ(-100px))
  85%
    opacity: 1
  100%
    opacity: 1
    vendor(transform, translateX(0))

@keyframes slide_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%))

// Keyframes COVER
@keyframes cover_in
  0%
    vendor(transform, translateY(100%))
  100%
    vendor(transform, translateY(0))

@keyframes cover_out
  0%
    vendor(transform, translateY(0))
  100%
    opacity: OUT_OPACITY
    vendor(transform, translateY(0) translateZ(-100px) rotateX(5deg))

@keyframes cover_back_in
  0%
    opacity: OUT_OPACITY
    vendor(transform, translateY(0) translateZ(-100px) rotateX(5deg))
  100%
    vendor(transform, translateY(0))

@keyframes cover_back_out
  0%
    vendor(transform, translateY(0))
  100%
    vendor(transform, translateY(100%))



// Keyframes ROOM
@keyframes room_in
  0%
    vendor(transform, translateX(100%) rotateY(-(DEFAULT_DEGREES)))
  100%
    vendor(transform, translateX(0))

@keyframes room_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(-100%) rotateY(DEFAULT_DEGREES))

@keyframes room_back_in
  0%
    vendor(transform, translateX(-100%) rotateY(DEFAULT_DEGREES))
  100%
    vendor(transform, translateX(0))

@keyframes room_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%) rotateY(-(DEFAULT_DEGREES)))

// Keyframes CUBE
@keyframes cube_in
  0%
    vendor(transform, translateX(100%) rotateY(DEFAULT_DEGREES))
  100%
    vendor(transform, translateX(0))

@keyframes cube_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(-100%) rotateY(-(DEFAULT_DEGREES)))

@keyframes cube_back_in
  0%
    vendor(transform, translateX(-100%) rotateY(-(DEFAULT_DEGREES)))
  100%
    vendor(transform, translateX(0))

@keyframes cube_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%) rotateY(DEFAULT_DEGREES))


// Keyframes START ANIMATION
@keyframes start_fade
  0%
    opacity: OUT_OPACITY
  100%
    opacity: 1

@keyframes start_loop
  0%
    vendor(transform, translateZ(-3600px) rotateZ(-540deg))
    opacity: OUT_OPACITY
  80%
    vendor(transform, translateZ(80px) rotateZ(5deg))
    opacity: 1
  100%
    vendor(transform, translateZ(0) rotateZ(0))
    opacity: 1

