div[data-modal]
  visibility: hidden
  border-radius: BUTTON_BORDER_RADIUS
  padding: AIR 
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  width: 65%
  top: 20%
  background-color: LIGHT
  z-index: 9999

  &.big
    top: 15%
    width: 85%

  &.small
    top: 30%
    width: 50%


  &[data-status="active"], &[data-direction]
    visibility: visible

  &[data-modal="cover"]
    &[data-direction="in"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_cover_in)
    &[data-direction="out"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_cover_out)

  &[data-modal="scale"]
    &[data-direction="in"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_scale_in)
    &[data-direction="out"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_scale_out)

  &[data-modal="loop"]
    &[data-direction="in"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_loop_in)
    &[data-direction="out"]
      vendor(animation, MODAL_TRANSITION_DURATION ease modal_loop_out)


div[data-block-modal]
  vendor(transition, all MODAL_TRANSITION_DURATION MODAL_TRANSITION)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0)
  z-index: -10

  &.active
    background-color: rgba(0,0,0,0.4)
    z-index: 9998

    
  


@keyframes modal_cover_in
  0%
    opacity: 0
    vendor(transform, translateY(100%))
  100%
    opacity: 1
    vendor(transform, translateY(0%))

@keyframes modal_cover_out
  0%
    opacity: 1
    vendor(transform, translateY(0%))
  100%
    opacity: 0
    vendor(transform, translateY(100%))


@keyframes modal_scale_in
  0%
    opacity: 0
    vendor(transform, scale(2.5))
  100%
    opacity: 1
    vendor(transform, scale(1))

@keyframes modal_scale_out
  0%
    opacity: 1
    vendor(transform, scale(1))
  100%
    opacity: 0
    vendor(transform, scale(2.5))

@keyframes modal_loop_in
  0%
    opacity: 0
    vendor(transform, rotateZ(-540deg) scale(0.1))
  100%
    opacity: 1
    vendor(transform, rotateZ(0) scale(1))

@keyframes modal_loop_out
  0%
    opacity: 1
  100%
    opacity: 0
