footer
  vendor(order, 3)
  z-index: 3

  article > &
    background: FOOTER_BACKGROUND_COLOR
    height: FOOTER_HEIGHT
    line-height: FOOTER_HEIGHT
    color: FOOTER_FONT_COLOR

  aside > &
    background: ASIDE_FOOTER_BACKGROUND_COLOR
    height: ASIDE_FOOTER_HEIGHT
    line-height: ASIDE_FOOTER_HEIGHT
    color: ASIDE_FOOTER_FONT_COLOR
    box-shadow: ASIDE_FOOTER_SHADOW
