@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 300
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff')

// @font-face
//   font-family: 'Open Sans'
//   font-style: italic
//   font-weight: 300
//   src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(fonts/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff')

// @font-face
//   font-family: 'Open Sans'
//   font-style: normal
//   font-weight: 400
//   src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff')

body, html
  vendor(perspective, 1000)
  vendor(transform-style, preserve-3d)
  vendor(user-select, none)
  background-color: #000
  height: 100%
  width: 100%
  overflow: hidden
  font-size: FONT_SIZE

body *
  font-family: FONT_STYLE
  font-weight: 300
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.font
  font-size: FONT_SIZE_NORMAL
  &.huge
    font-size: FONT_SIZE_HUGE
  &.big
    font-size: FONT_SIZE_BIG
  &.normal
    font-size: FONT_SIZE_NORMAL
  &.small
    font-size: FONT_SIZE_SMALL
  &.tiny
    font-size: FONT_SIZE_TINY

  &.thin
    font-weight: 300
  &.italic
    font-style: italic
  &.bold
    font-weight: 700

  &.justified
    text-align: justify
  &.centered
    text-align: center
  &.right
    text-align: right

.margins
  margin: AIR
.margin-left
  margin-left: AIR
.margin-right
  margin-right: AIR
.margin-top
  margin-top: AIR
.margin-bottom
  margin-bottom: AIR
.nopadding
  padding: 0 !important

