article

  display-flexbox-vertical()
  position: absolute
  visibility: hidden
  width: 100%
  height: 100%
  top: 0
  left: 100%
  z-index: 0

  &.active
    left: 0
    visibility: visible

    &.aside
      vendor(transition, all ASIDE_TRANSITION_DURATION ASIDE_TRANSITION)
      &[data-aside="show"]
        vendor(transform, translateX(ASIDE_WIDTH))

    &:not([data-animation])
      box-shadow 0 0 35px #000
