input, select, textarea
  vendor(border-radius, INPUT_BORDER_RADIUS)
  border-style: solid
  border-color: INPUT_BORDER_COLOR
  border-width: 1px
  border: INPUT_BORDER
  height: 30px
  width: 100%
  display: block
  box-sizing: border-box
  font-family: inherit
  font-size: 0.9em
  padding: 6px
  background: none

  form > &
    margin-top: 5px
    margin-bottom: 10px
