header
  vendor(order, 1)
  z-index: 3

  article > &
    background: HEADER_BACKGROUND_COLOR
    height: HEADER_HEIGHT
    line-height: HEADER_HEIGHT
    box-shadow HEADER_SHADOW

  aside > &
    background: ASIDE_HEADER_BACKGROUND_COLOR
    height: ASIDE_HEADER_HEIGHT
    box-shadow ASIDE_HEADER_SHADOW
    color: ASIDE_HEADER_FONT_COLOR
