MODAL_HEIGHT  = 100px
MODAL_BIG_WIDTH   = 70%
MODAL_NORMAL_WIDTH   = 50%
MODAL_SMALL_WIDTH   = 40%
MODAL_ANIMATION_TIME = 400ms


[data-modal-shadow]
  vendor(transition, all MODAL_ANIMATION_TIME ease)
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 9995
  background-color: #000
  opacity: 0
  visibility: hidden
  &.show
    opacity: 0.3
    visibility: visible

[data-modal]
  visibility: hidden
  border-radius: 10px
  padding: 10px 
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  min-height: MODAL_HEIGHT
  max-height: 70%
  width: MODAL_NORMAL_WIDTH
  top: -(MODAL_HEIGHT)
  box-shadow: 0 0 100px 10px black
  background-color: COLOR_LIGHT
  z-index: 9999

  &.big
    width: MODAL_BIG_WIDTH
    
    

  &.showing,&.hidding,&.show
    visibility: visible

  &.showing
    vendor(animation, modal_showing MODAL_ANIMATION_TIME ease)
  &.hidding
    vendor(animation, modal_hidding MODAL_ANIMATION_TIME ease)

  &.show
    top: MODAL_HEIGHT

@keyframes modal_showing
  0%
    vendor(transform, translateY(0))
  40%
    vendor(transform, translateY(220px))
  100%
    vendor(transform, translateY(200px)  rotateX(0))


@keyframes modal_hidding
  0%
    vendor(transform, translateY(200px))
  40%
    vendor(transform, translateY(220px))
    opacity: 1
  100%
    vendor(transform, translateY(0))
    opacity: 0

