body, body *
  font-family: sans-serif
  font-size: FONT_SIZE
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  margin: 0
  padding: 0

body
  
  & input[type="text"], textarea
    vendor(box-sizing, border-box)
    width: 100%
    border-radius: 5px
    border: 1px solid darken(COLOR_LIGHT, 10%)
    padding: 5px
    margin-bottom: 5px

  & button
    display: block
    width: 100%
    height: 30px
    background: none
    border: 0px
    background-color: COLOR_3
    color: COLOR_LIGHT

    &.success
      background-color: green

    &[disabled]
      background-color: COLOR_LIGHT
      color: darken(COLOR_LIGHT, 20%)

  & > #editor
    display-flexbox-horizontal()
    width: 100%
    height: 100%

    & > *
      overflow-y: scroll
      overflow-x: hidden

    & [data-component-type]
      color: COLOR_LIGHT
      border: 1px solid COLOR_DARK
    & [data-component-type="Template"]
      background-color: COLOR_1
    & [data-component-type="Organism"]
      background-color: COLOR_2
    & [data-component-type="Molecule"]
      background-color: COLOR_3
    & [data-component-type="Atom"]
      background-color: COLOR_4

    & ul
      & > li
        margin: 0
        line-height: FONT_SIZE
        padding: 5px 10px
        border-bottom: 1px solid COLOR_DARK

        &.title
          font-size: 1.2em
          background-color: COLOR_DARK
          color: COLOR_LIGHT
          padding-top: 10px
          padding-bottom: 12px


