#editor > #canvas
  display-flex(3)
  padding: 20px
  & .droppable
    vendor(transition, all 300ms ease)
    background-color: rgba(90,90,90,0.5)

  & div
    vendor(box-sizing, border-box)
    display: block
    border-radius: 5px
    line-height: 20px
    padding: 2px 3px
    margin: 5px
    vendor(transition, all 250ms ease)
    &.selected
      vendor(transform, scale(1.05))
      box-shadow: 0 0 40px -5px #000
    