#editor > #aside_properties
  display-flexbox-vertical()
  display-flex(1)
  // color: #DDD

  & > header
    padding: 10px
    text-align: center
    height: 30px
    line-height: 30px
    font-size: 1.5em

  & > section
    display-flex(1)
    overflow-y: scroll
    overflow-x: hidden
